
:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}


.ligne-violette{
    display : block;
    margin : auto;
}


#maison_christine{
    position:relative;
    flex-basis:40%;
    width:50%;
}

#berlin{
    max-width:50rem;
}

.photos{
    max-height: 20rem;
}

.photos_container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}


/*phone */
@media (max-width: 576px)
{
    .photos{
    max-height: 8rem;
    }
    .photos_container{
    flex-wrap: wrap;
    }

    .ligne-violette{
        max-width:100%;
    }
}