
:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}


.ligne-violette{
    display : block;
    margin : auto;
}


.photo_header{
    /* position:relative; */
    max-width:50%;
    min-width: 30%;
}

.photos{
    max-height: 20rem;
    margin-bottom: 5%;
}

.photos_container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/*phone */
@media (max-width: 576px)
{
    .photos{
    max-height: 8rem;
    }

    .ligne-violette{
        max-width:100%;
    }
}

/* landscape phone and tablet*/
@media (min-width: 576px) and (max-width:992px)
{
    .photos{
    max-height: 10rem;
    }

    .ligne-violette{
        max-width:100%;
    }
}