* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    background-color: var(--beige);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--beige);
}

:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}

h1 {
    font-family: 'Asset',sans-serif;
    color: var(--dark-green);
    padding:7% 2% 2% 2%;
    letter-spacing:-2%;
    font-size: 370%;
}


h2{
    font-size: 180%;
    padding-left:2%;
    color: var(--light-green);
    font-family: 'Spicy Rice',sans-serif;
}

p{
    font-family: 'Roboto Serif',serif;
    font-weight: 400;
    padding: 4%;
    flex-basis:80%;
}

.timeline{
    display:flex;
    flex-direction:column;
    padding-top:3%;
}

.timeline_container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  color: var(--violet);
}

a:hover {
  color: var(--violet);
}

a:active {
  color: var(--beige);
}

.place{
    font-family: 'Spicy Rice',sans-serif;
    font-size: 240%;
    text-align: center;
    left: -500px;
}

.date{
    font-family: 'Spicy Rice',sans-serif;
    font-size: 150%;
    text-align: center
}

.long_stay{
    color:var(--dark-green);
    flex-basis:30%;
    padding:2%;
    display:flex;
    flex-direction:column;
}

.long_stay > a{
    color:var(--dark-green);
}

.short_stay{
    color:var(--light-green);
    flex-basis:30%;
    padding:2%;
    display:flex;
    flex-direction:column;
}

.short_stay > a{
    color:var(--light-green);
}


#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid rgb(185, 38, 38);
  li {
    margin: 40px 0;
    position: relative;
  }
  p {
    margin: 0 0 15px;
  }
}
