* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    background-color: var(--beige);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--beige);
}

:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}

h1 {
    font-family: 'Asset',sans-serif;
    color: var(--dark-green);
    padding:7% 2% 2% 2%;
    letter-spacing:-2%;
    font-size: 370%;
}


h2{
    font-size: 180%;
    padding-left:2%;
    color: var(--light-green);
    font-family: 'Spicy Rice',sans-serif;
}

p{
    font-family: 'Roboto Serif',serif;
    font-weight: 400;
    padding: 4%;
    flex-basis:80%;
}

.timeline{
    display:flex;
    flex-direction:column;
    padding-top:3%;
}

.timeline_container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  color: var(--violet);
}

a:hover {
  color: var(--violet);
}

a:active {
  color: var(--beige);
}

.place{
    font-family: 'Spicy Rice',sans-serif;
    font-size: 240%;
    text-align: center;
    left: -500px;
}

.date{
    font-family: 'Spicy Rice',sans-serif;
    font-size: 150%;
    text-align: center
}

.long_stay{
    color:var(--dark-green);
    flex-basis:30%;
    padding:2%;
    display:flex;
    flex-direction:column;
    max-width: 30%;
}

.long_stay > a{
    color:var(--dark-green);
}

.short_stay{
    color:var(--light-green);
    flex-basis:30%;
    padding:2%;
    display:flex;
    flex-direction:column;
    max-width: 30%;
}

.short_stay > a{
    color:var(--light-green);
}


.photos_timeline{ 
    width:100%;
}

.image{
    flex-basis:50%;
    border-left: 0.5rem solid var(--violet);
    padding:0% 0% 0% 5%
}

.long_stay_circle,.short_stay_circle {
  left: 39.45%;
  width: 1.5rem ;  
  height: 1.5rem;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.short_stay_circle {
  background:var(--light-green);
}

.long_stay_circle{
  background:var(--dark-green);
}

/*phone */
@media (max-width: 576px)
{
  h1{
    font-size: 160%;
  }

  h2{
    font-size: 120%;
  }

  p{
    font-size:70%
  }

  .place{
    font-size: 100%;
  }

  .date{
    font-size: 70%;
  }
  .short_stay_circle,.long_stay_circle {
    width: 0.5rem ;  
    height: 0.5rem;
  }

}

/* landscape phone
@media (min-width: 576px)

/*tablet
@media (min-width: 768px)

/*destop
@media (min-width: 992px)
 */