
:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    width:100%;
    font-family: 'Spicy Rice',sans-serif;
    background-color: var(--light-green);
    color: var(--beige);
    padding: 1.5%;
    height : 12%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav>a{
    color: var(--beige);
    text-decoration:none;
    font-size: 150%;
}

#menu{
    font-size: 250%;
    margin-right: 30%;
}

a:focus {
  color: var(--violet);
}

a:hover {
  color: var(--violet);
}

a:active {
  color: var(--beige);
}


/*phone */
@media (max-width: 576px)
{
  #menu{
    font-size: 80%;
    margin-right: 9%;
    font-weight: lighter;
  }
  nav>a{
    padding: 2%;
    font-size: 60%;
    font-weight: lighter;
  }
  nav {
    height:12%;
  }
}

/* landscape phone and tablet*/
@media (min-width: 576px) and (max-width:992px)
{
  #menu{
    font-size: 120%;
    margin-right: 15%;
    font-weight: lighter;
  }
  nav>a{
    font-size: 80%;
    font-weight: lighter;
  }
  nav {
    height: 8%;
  }
}


@media (min-width: 1600px)
{
    #menu{
    font-size: 320%;
  }
  nav>a{
    font-size: 250%;
  }
  nav {
    height:15%;
  }
}