* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    background-color: var(--beige);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--beige);
}

:root {
    --dark-green: #213722;
    --light-green: #658C6E;
    --violet: #CCBCC9;
    --beige: #F4F2ED;
    --light-black: #2C2C2C;
}


header{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    background-color: var(--violet);
    max-width: 100vw;
}


h1 {
    font-family: 'Asset',sans-serif;
    color: var(--dark-green);
    padding:7% 2% 2% 2%;
    letter-spacing:-2%;
    font-size: 250%;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph-header{
    font-family: "Roboto Condensed", sans-serif;
    color:var(--light-black);
    font-size: 180%;
    padding: 2%;
}

.anecdote{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 120%;
    color:var(--light-black);
    padding-left: 2%;
}

h2 {
    font-family: "Purple Purse", serif;
    color: var(--light-green);
}

.jour-anecdote{    
    padding:5% 0% 0% 5%;
    white-space: nowrap;
    display:inline;
    flex-basis:20%;
}


.jour-container{
    display:flex;
    flex-direction:row;
}

p{
    font-family: 'Roboto Serif',serif;
    font-weight: 400;
    padding: 4%;
    flex-basis:80%;
}


h3 {
    font-family: "Purple Purse", serif;
    color: var(--light-green);
    font-weight: 24;
}


/*phone */
@media (max-width: 576px)
{
    h1 {font-size: 100%;}

    header{
        margin-top:15%;
        max-width: 100%;}

    h2{font-size:120%}

    h3{font-size:90%}

    p{font-size: 60%;}

    .text-header{
        max-width: 50%;}

    .paragraph-header{font-size: 80%;}

    .anecdote{font-size: 60%;}

    .jour-container{flex-direction:column;}
}